@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* reset.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/*margin: 0;*/
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* base.css */

:root {
  --font-family: "Alegreya", serif;
  --font-family-code: "Courier Prime", monospace;
  --line-height: 1.20rem;
  --border-thickness: 1.5px;
  --text-color: #000;
  --background-color: #fff;
  --horizontal-margin: 3ch;
  --body-inner-width: 66ch;
  --body-max-width: calc(var(--body-inner-width) + var(--horizontal-margin) * 2);

  --font-weight-normal: 450;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "onum"; 
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

* + * {
  margin-top: var(--line-height);
}



/* headings.css */

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-normal);
  margin: calc(var(--line-height) * 2) 0 var(--line-height);
  line-height: var(--line-height);
}

.header-section-number {
  font-family: 'Alegreya', serif;
  font-size: .875rem;
  font-weight: 500;
  font-variant: initial;
  letter-spacing: 0;
  margin-right: .5ch;
  font-style: normal;
}

body h1, h2#toc-title {
  font-family: 'Alegreya SC', serif;
  font-variant: titling-caps;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: var(--line-height) 0 calc(var(--line-height) - var(--border-thickness));
  border-bottom: var(--border-thickness) solid var(--text-color);
}

h1 .header-section-number {
  display: none;
}

h2 {
  font-family: 'Alegreya SC', serif;
  font-size: 1.25rem;
  font-variant: all-small-caps;
  font-weight: 450;
  line-height: var(--line-height);
  letter-spacing: 0.125em;
}

h3 {
  font-style: italic;
  margin: var(--line-height) 0;
}

h4 {

}



/* tables.css */

table {
  width: 100%;
  border-collapse: collapse;
  /* compensate for cell padding: */
  margin: calc(var(--line-height) * -0.5) 0 calc(var(--line-height) * 1.5);
  padding: 0;
}

th, td {
  padding: calc(var(--line-height) / 2) .5ch;
  line-height: var(--line-height);
  vertical-align: top;
  text-align: left;
}

th {
  font-size: 1.125em;
  font-variant: all-small-caps;
  font-weight: 500;
  letter-spacing: 0.075em;
}

thead tr:last-child th {
  border-bottom: var(--border-thickness) solid var(--text-color);
}




/* blockquotes.css */

blockquote {
  padding: 0;
  margin: var(--line-height) 3ch;
}

blockquote p {
  text-indent: 0;
  white-space: normal;
}

blockquote p:first-of-type:before {
  display: inline;
  content: "â€œ";
}

blockquote p:last-of-type::after {
  display: inline;
  content: "â€";
}

blockquote footer {
  order: 9999;
  margin-top: var(--line-height);
  font-style: normal;
}

blockquote footer > * {
  margin: 0;
}

blockquote .author {
  font-family: 'Alegreya SC', serif;
  font-size: 1.125em;
  font-variant: all-small-caps;
  font-weight: 450;
  line-height: var(--line-height);
  letter-spacing: 0.075em;
  height: 1rem;
  line-height: 1rem;
}

blockquote cite {
  font-style: italic;
  margin: 0;
  line-height: var(--line-height);
}

blockquote .year {
  display: block;
}




/* details.css */

details {
  margin: var(--line-height) 0;
  border-top: var(--border-thickness) solid var(--text-color);
  border-bottom: var(--border-thickness) solid var(--text-color);
  padding: var(--line-height) 0;
}

summary {
  font-weight: var(--font-weight-normal);
  font-style: italic;
  cursor: pointer;
}

details[open] summary {
  margin-bottom: var(--line-height);
}

details ::marker {
  content: '';
}

details summary::before {
  display: inline-block;
  content: 'Â»';
  margin: 0 .5ch 0 0;
  font-style: normal;
}

details[open] summary::before {
  transform: rotate(90deg);
}

details :last-child {
  margin-bottom: 0;
}



/* asides.css */

aside {
  position: relative;
  font-size: 0.875rem;
  line-height: var(--line-height);
  margin: var(--line-height) 0;
}
aside:before {
  display: inline-block;
  content: "â§";
  font-size: 1rem;
  height: .875rem;
  margin-right: .5ch;
  line-height: var(--line-height);
}

@media screen and (min-width: 95ch) {
  aside {
    position: absolute;
    width: 20ch;
    top: anchor(top);
    left: 100%;
    margin: 0;
    text-align: left;
  }
  aside:before {
    display: none;
  }
  p + aside + p {
    margin-top: 0;
    text-indent: 3ch;
  }
}



/* figures.css */

figure {
  margin: calc(var(--line-height) * 2) var(--horizontal-margin);
  overflow-x: auto;
  overflow-y: hidden;
}

figure > *:first-child {
  margin-top: 0;
}

figure > *:last-child {
  margin-bottom: 0;
}

figcaption {
  display: block;
  margin-top: var(--line-height);
}

figcaption .author {
  font-family: 'Alegreya SC', serif;
  font-size: 1.125em;
  font-variant: all-small-caps;
  font-weight: 450;
  line-height: var(--line-height);
  letter-spacing: 0.075em;
  height: 1rem;
  line-height: 1rem;
}

figcaption cite {
  font-style: italic;
  margin: 0;
  line-height: var(--line-height);
}

figure pre {
  margin: 0;
}



/* elements.css */

hr {
  position: relative;
  display: block;
  height: var(--line-height);
  margin: calc(var(--line-height) * 1.5) 0;
  border: none;
  color: var(--text-color);
}

hr:before {
  display: block;
  content: "";
  position: absolute;
  top: calc(var(--line-height) / 2);
  left: 0;
  width: 100%;
  border-top: var(--border-thickness) solid var(--text-color);
  height: 0;
}
hr:after {
  display: inline-block;
  content: "â§";
  position: absolute;
  top: 0;
  left: calc(50% - 1ch);
  width: 2ch;
  text-align: center;
  font-size: 2rem;
  background: var(--background-color);
}

a {
  text-decoration-thickness: var(--border-thickness);
}

a:link, a:visited {
  color: var(--text-color);
}

p {
  margin: var(--line-height) 0 0;
  text-align: justify;
  word-break: break-all;
}

p + p {
  margin-top: 0;
  text-indent: 3ch;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
hr + p {
  text-indent: 0;
}

strong {
  font-weight: var(--font-weight-bold);
}

em {
  font-style: italic;
}

abbr {
  font-size: 1.125em;
  font-variant: all-small-caps;
  font-weight: 500;
  letter-spacing: 0.05em;
}

sub {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: sub;
  line-height: 0;
  width: calc(1ch / 0.75);
  font-size: .75rem;
}

p {
  word-break: break-word;
  text-wrap: pretty;
  hyphens: auto;
  hyphenate-limit-chars: 3;
}

img, video {
  display: block;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

img {
  font-style: italic;
  color: var(--text-color);
}

pre {
  white-space: pre;
  margin: var(--line-height) 0;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-all;
}

pre, code {
  font-family: var(--font-family-code);
  font-weight: 450;
}

code {
  font-size: .95em;
  letter-spacing: -0.025em;
}

ul, ol {
  padding: 0;
  margin: 0 0 var(--line-height);
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li:before {
  content: "â€¢";
  margin-right: 1ch;
}

ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

ol ul,
ol ol,
ul ol,
ul ul {
  padding: 0 0 0 2ch;
  margin: 0;
}

ol li:before { 
  font-size: .875rem;
  font-weight: 500;
  content: counters(item, ".") ". ";
  counter-increment: item;
}

li {
  margin: 0;
  padding: 0;
}

li::marker {
  line-height: 0;
}




/* layout.css */

html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: left;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--line-height) var(--horizontal-margin);
  max-width: var(--body-max-width);
  line-height: var(--line-height);
  overflow-x: hidden;
}

/* This breakpoint is for when the side notes fit in the right-side margin,
 * i.e. (66ch + 2*3ch + 2*20ch). */
@media screen and (min-width: 112ch) {
  html {
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }
  body {
    padding: var(--line-height) 1.5ch;
  }
}

.toc-section-number {
  height: 1rem;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: 0;
  margin-right: .5ch;
  font-style: normal;
}

#TOC > ul {
  padding: 0;
}
#TOC ul li:before {
  content: "";
  margin: 0;
}

#TOC a {
  display: block;
  height: var(--line-height);
  text-decoration: none;
}
#TOC a:hover {
  text-decoration: underline;
}

@media print {
  body {
    max-width: initial;
  }
  body> h1, img {
    break-before: page;
  }
}



/* header.css */

header {
  margin: calc(var(--line-height) * 3) 0;
}

header h1 {
  font-family: 'Alegreya SC', serif;
  font-variant: all-small-caps;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: calc(2 * var(--line-height));
  margin: 0;
  padding-bottom: 0;
  border-bottom: none;
}

header .subtitle {
  font-size: 1.25rem;
  line-height: calc(2 * var(--line-height));
  margin: calc(var(--line-height) * .5) 0;
}

header p {
  text-indent: 0;
  text-align: left;
}



/* extras.css */

.canonical-name {
  font-family: 'Alegreya SC', serif;
  font-size: 1.125em;
  font-variant: all-small-caps;
  font-weight: 450;
  line-height: var(--line-height);
  letter-spacing: 0.075em;
}



/* style.css */

h1,
h2,
h3,
h4,
h5 {
  color: #ddd;
  font-family: "Verdana", sans-serif;
}

b,
strong {
  color: #fff;
}

a {
  color: #eee;
}

html {
  color: #000;
  font-family: "Georgia", serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fff;
}

body {
  max-width: 800px;
  overflow-x: scroll;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  /* text-align: center; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}

pre {
  overflow-x: scroll;
}

img {
  max-width: 100vw;
}

.block {
  border: 1px dotted white;
  padding: 5px 15px;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}


/* highlight.css */

:root {
  --light-yellow: #e5c07b;
  --dark-yellow: #d19a66;
  --blue: #61afef;
  --cyan: #56b6c2;
  --light-red: #e06c75;
  --dark-red: #be5046;
  --comment-gray: #5c6370;
  --magenta: #c678dd;
}

pre {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 5px;
}

code.ziggy {
  color: var(--cyan);
}

code.ziggy .keyword,
code.ziggy .type {
  color: var(--light-yellow);
}

code.ziggy .string {
  color: var(--dark-yellow);
}

code.ziggy .numeric.constant {
  color: var(--magenta);
}

code.ziggy .function {
  color: var(--blue);
}


/* Temml-Local.css */

/*
Temml.woff2 is a clone of KaTeX_Script-Regular, except that the code points
have been changed from ASCII to Unicode Mathematical Alphanumeric Symbols Script capitals,
Unicode range 1D49C to 1D4B5.
*/

@font-face {
  font-family: 'Temml';
  src: url('Temml.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

math {
  font-family: "Cambria Math", 'STIXTwoMath-Regular', 'NotoSansMath-Regular', math;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size-adjust: none;
  text-indent: 0;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  direction: ltr;
  /* Prevent Firefox from omitting the dot on i or j. */
  font-feature-settings: "dtls" off;
}

math * {
  border-color: currentColor;
}

/* Next line is active in Firefox and Safari.
 * Not in Chromium, which recognizes display: "block math" written inline. */
math.tml-display { display: block; }

*.mathcal {
  /* NotoSans */
  font-feature-settings: 'ss01';
}

math .mathscr {
  font-family: "Temml";
}

mo.tml-prime {
  font-family: Temml;
}

/* Prevent f' from overlapping in Chromium */
mo.prime-pad {
  padding-left: 0.08em;
}

/* \cancel & \phase use background images. Get them to print. */
menclose {
  -webkit-print-color-adjust: exact;  /* Chrome & Edge */
          print-color-adjust: exact;
}

/* Array cell justification in Firefox & WebKit */
.tml-right {
  text-align: right;
}
.tml-left {
  text-align: left;
}

/* Styles for Chromium only */
@supports (not (-webkit-backdrop-filter: blur(1px))) and (not (-moz-appearance: none)) {
  /* MathML Core & Chromium do not support the MathML 3.0 element <menclose> attributes. */
  /* So use styles. */
  menclose {
    position: relative;
    padding: 0.5ex 0ex;
  }

    .tml-overline {
    padding: 0.1em 0 0 0;
    border-top: 0.065em solid;
  }

  .tml-underline {
    padding: 0 0 0.1em 0;
    border-bottom: 0.065em solid;
  }

  .tml-cancel {
    display: inline-block;
    position: absolute;
    left: 0.5px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
  }
  .upstrike {
    clip-path: polygon(0.05em 100%, 0em calc(100% - 0.05em), calc(100% - 0.05em) 0em, 100% 0.05em);
  }
  .downstrike {
    clip-path: polygon(0em 0.05em, 0.05em 0em, 100% calc(100% - 0.05em), calc(100% - 0.05em) 100%);
  }
  .sout {
    clip-path: polygon(0em calc(55% + 0.0333em), 0em calc(55% - 0.0333em), 100% calc(55% - 0.0333em), 100% calc(55% + 0.0333em));
  }
  .tml-xcancel {
    background: linear-gradient(to top left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.06em),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.06em),
    rgba(0,0,0,0) 100%),
    linear-gradient(to top right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.06em),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.06em),
    rgba(0,0,0,0) 100%)
  }

  .longdiv-top {
    border-top: 0.067em solid;
    padding: 0.1em 0.2em 0.2em 0.433em;
  }
  .longdiv-arc {
    position: absolute;
    top: 0;
    bottom: 0.1em;
    left: -0.4em;
    width: 0.7em;
    border: 0.067em solid;
    transform: translateY(-0.067em);
    border-radius: 70%;
    clip-path: inset(0 0 0 0.4em);
    box-sizing: border-box;}
    .menclose {display: inline-block;
    text-align: left;
    position: relative;
  }

  .phasor-bottom {
    border-bottom: 0.067em solid;
    padding: 0.2em 0.2em 0.1em 0.6em;
  }
  .phasor-angle {
    display: inline-block;
    position: absolute;
    left: 0.5px;
    bottom: -0.04em;
    height: 100%;
    aspect-ratio: 0.5;
    background-color: currentColor;
    clip-path: polygon(0.05em 100%, 0em calc(100% - 0.05em), calc(100% - 0.05em) 0em, 100% 0.05em);
  }

  .tml-box {
    padding: 3pt 0 3pt 0;
    border: 1px solid;
  }
  .tml-fbox {
    padding: 3pt;
    border: 1px solid;
  }

  .circle-pad {
    padding: 0.267em;
  }
  .textcircle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0.067em solid;
    border-radius: 50%;
   }

   .actuarial {
    padding: 0.03889em 0.03889em 0 0.03889em;
    border-width: 0.08em 0.08em 0em 0em;
    border-style: solid;
    margin-right: 0.03889em;
   }

   /* Stretch \widetilde */
  .tml-crooked-2 {
    transform: scale(2.0, 1.1)
  }
  .tml-crooked-3 {
    transform: scale(3.0, 1.3)
  }
  .tml-crooked-4 {
    transform: scale(4.0, 1.4)
  }
  /* set array cell justification */
  .tml-right {
    text-align: -webkit-right;
  }
  .tml-left {
    text-align: -webkit-left;
  }
}

/* Adjust WebKit accents */
@supports (-webkit-backdrop-filter: blur(1px)) {
  .tml-xshift { transform: translate(0px, 0.45em) }
  .tml-capshift { transform: translate(0px, 0.35em) }
}

/* flex-wrap for line-breaking in Chromium */
math {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}
math > mrow {
  padding: 0.5ex 0ex;
}

/* Default mtd top padding is 0.5ex per MathML-Core and user-agent CSS */
/* We adjust for jot and small */
mtable.tml-jot mtd {
  padding-top: 0.7ex;
  padding-bottom: 0.7ex;
}
mtable.tml-small mtd {
  padding-top: 0.35ex;
  padding-bottom: 0.35ex;
}

/* Firefox */
@-moz-document url-prefix() {
  /* Avoid flex-wrap */
  math { display: inline; }
  math > mrow { padding: 0 }
  /* Adjust Firefox spacing between array rows */
  mtd, mtable.tml-small mtd { padding-top: 0; padding-bottom: 0; }
  mtable.tml-jot mtd { padding-top: 0.2ex; padding-bottom: 0.ex; }
}

/* AMS environment auto-numbering via CSS counter. */
.tml-eqn::before {
  counter-increment: tmlEqnNo;
  content: "(" counter(tmlEqnNo) ")";
}

body {
  counter-reset: tmlEqnNo;
}




